<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SaisieInServlet</servlet-name>
        <servlet-class>servlet.mouvement.SaisieInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaisieOutServlet</servlet-name>
        <servlet-class>servlet.mouvement.SaisieOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EtatStockServlet</servlet-name>
        <servlet-class>servlet.suivie.EtatStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoriqueMvtServlet</servlet-name>
        <servlet-class>servlet.mouvement.HistoriqueMvtServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValideMvtServlet</servlet-name>
        <servlet-class>servlet.mouvement.ValideMvtServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllEnterServlet</servlet-name>
        <servlet-class>servlet.suivie.AllEnterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaisieInServlet</servlet-name>
        <url-pattern>/SaisieIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaisieOutServlet</servlet-name>
        <url-pattern>/SaisieOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EtatStockServlet</servlet-name>
        <url-pattern>/EtatStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoriqueMvtServlet</servlet-name>
        <url-pattern>/HistoriqueMvt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValideMvtServlet</servlet-name>
        <url-pattern>/ValideMvt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllEnterServlet</servlet-name>
        <url-pattern>/allEnter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
